/* SINTAXIS CSS */
@media only screen and (max-width: 991px) and (min-width: 480px) {

}
/* Selector Universal */
* { 
    margin: 0; 
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #0F0B28 ;
    color: #FFFFFF;
}
.navbar{
   /*  background-color: #000; */
        display: flex;
        flex-direction: column;
        border-bottom-left-radius:25%;
        border-bottom-right-radius:25%;
        padding: 2px;
        margin-bottom: 100px;
        /* opacity: 0.35; */
        width: 100%;
        z-index: 1000;
        position:fixed
        
}
/* nav a:hover, nav a:focus {
        color: #7b1010;
} */

h1,h2,h3{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.Yo{
    

}
p{
    text-align: center;
    font-size: 18px;
}

a{
   color: #FFFFFF;
   text-decoration: underline;
   font-weight:bolder ;
   text-align: center;
   font-size: 17px;
}
/* .GitLink{
    align-items: center;
    align-content: center;
} */

.carousel-inner img {
    width: 10%;
    max-height: 960px;
}

.carousel-inner{
    display: flex;
    align-items: center;
    height: 890px;
    width: 100%;
}
.carousel-caption{
    color: #000;
    align-items:baseline;
    background-color: rgb(101, 101, 101);
    opacity: 0.80;
}
.LinkRepo{
    text-decoration: none !important;
}
.fa-2x{
    align-items: center;
    text-align: center;
}
.fa-1x{
    align-items: center;
    text-align: center;
}

#Contacto{
    align-items: center;
    
}

footer{
    background-color: #160f46;
    border-color: #FFFFFF;
}
